<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'contactform.css' %}">
    <script type="text/javascript" src="{% static 'contactform.js' %}"></script>

    <title></title>
  </head>
  <body>
    <form id="contact" action="." method="post">
            {% csrf_token %}
    <div class='container'>
      <div class='head'>
        <h2>ADD ADVERTISEMENT</h2>
      </div>
      
            {{form.company_name}}
            {{form.ad_location}}
            {{form.company_location}}
            {{form.word}}
            {{form.credit}}
            {{form.phone_number}}
            
          <input type="submit" value="제출">
        </form>
        <h1>광고를 올리고 싶으시면 아래의 계좌에 돈을 넣으세요</h1>
        <h2 style="color:red"><strong>신한은행</strong> : 111-111111-111111-111</h2>
    </div>
  </body>
</html>
